mat-card {
  // font-family: 'Play';
    font-family: 'Montserrat', sans-serif;
// font-family: 'Play', sans-serif;
  text-align: center;
  padding: 5px 5px 20px 5px;
  margin: 10px;
}
mat-card img {
  max-width: 100%;
  max-height: 130px;
}
.clip-circle {
  clip-path: circle(80px at center);
  top: -80px;
  margin-bottom: -80px;
  position: relative;
  width: 150px;
  height: 150px;
  max-width: 160px;
  max-height: 160px;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
  background: #ffffff78;
  // margin: 0 auto;
  /* OLD VALUE example: circle(245px, 140px, 50px); */
  /* Yep, even the new clip-path has deprecated stuff. */
}

mat-card-content .info {
  font-family: 'Montserrat', sans-serif;

}
mat-card {
  color: gray;
}
.info p.title {
  font-size: medium;
}
.info  p {
  margin: 0;
  font-size: small;
}
mat-card-actions {
  text-align: left;
  padding-left: 20px;
}
