<mat-card>
  <img [src]="bannerImage" >
  <img class="clip-circle" [src]="profileImage" >
    <mat-card-content class="info">
      <!-- <mat-divider [inset]="true"></mat-divider> -->
      <p class="title">Kempinski Hotel Bahía</p>
      <p>Sucursal</p>
      <p>Malaga, España</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>More Info</button>
    </mat-card-actions>
</mat-card>
