<div class="footer">
  <!-- <div class="logo"><img src="assets/images/logo.png"></div> -->
  <div class="us">
    <h2>About Us</h2>
    <ul>
      <li><a href="#">Who are we</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>
  <div class="security"></div>
  <div class="terms"></div>
  <div class="apps"></div>
  <div class="social-icons">
    <ul>
      <li><a href="#"><fa-icon [icon]="facebookIcon" class='fa-2x'></fa-icon></a></li>
      <li><a href="#"><fa-icon [icon]="instagramIcon" class='fa-2x'></fa-icon></a></li>
      <li><a href="#"><fa-icon [icon]="connectIcon" class='fa-2x'></fa-icon></a></li>
      <li><a href="#"><fa-icon [icon]="githubIcon" class='fa-2x'></fa-icon></a></li>
      <li><a href="#"><fa-icon [icon]="wordpressIcon" class='fa-2x'></fa-icon></a></li>
    </ul>
  </div>

</div>
