<div class="wrapper">
  <!-- <div class="flex-container">
    <div class="box one">One</div>
    <div class="box two">Two</div>
    <div class="box three">Three</div>
    <div class="box four">Four</div>
    <div class="box five">Five</div>
  </div> -->

  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Store</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>
