.box {
  height: 100px;
  min-width: 100px;
  flex-grow: 1;
}

.flex-container {
  display: flex;
  background-color: whitesmoke;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper ul {
  margin: 0;
  padding: 0;
}
.wrapper ul li {
  list-style-type: none;
}
.wrapper ul li a {
  padding: 10px;
  display: block;
  background-color: rgb(82, 82, 82);
  text-decoration: none;
  color: white;
  text-align: center;
}
.wrapper ul li a:hover {
  background-color: rgb(172, 172, 172);
}

@media only screen and (min-width: 768px) {
  .wrapper ul {
    display: flex;
  }
  .wrapper ul li {
    flex: 1 1 0;
  }
}






.one {
  background-color: red;
}
.two {
  background-color: blue;
}
.three {
  background-color: burlywood;
}
.four {
  background-color: forestgreen;
}
.five {
  background-color: green;
}

.logo img{
  width: 10%;
  height: 10%;
}
