
nav div img {
  width: 110px;
  height: 60px;
  padding-top: 10px;
  padding-left: 10px;
  margin-right: 20px;
}
nav {
  display: flex;
  background-color: #240a1d;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
nav ul li {
  list-style-type: none;
  min-width: max-content;
  flex: 1 1 auto;
}
nav ul li a {
  text-decoration: none;
  color: #e0b070;
  font-family: 'Montserrat', sans-serif;
  display: block;
  padding: 30px;
  cursor: pointer;
  font-size: medium;
  transition: font-size 0.5s;
}
nav ul li a:hover, nav ul li .active {
  color: white;
  background-color: #b6741e;
  font-size: large;
}

:host{
  margin: 0;
  padding: 0;
}
