<div class="main-toolbar">
  <nav>
    <div>
      <img src="assets/images/logo.png" />
    </div>
    <ul>
      <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
      <li><a routerLinkActive="active" routerLink="/shipment">Shipment</a></li>
      <li><a routerLinkActive="active" >Custom House</a></li>
      <li><a routerLinkActive="active" routerLink="/partners">Partners</a></li>
      <li><a routerLinkActive="active">Contact Us</a></li>
    </ul>

    <ul>
      <li id="login"><a routerLink="/login">Login</a></li>
    </ul>
  </nav>
</div>

