
<mat-card class="main-login">
  Changes in the Login Page
  <form method="POST" #loginForm="ngForm">
  <mat-card-content>
    <img src="assets/images/logo.png" >

    <mat-form-field class="input-login" appearance="fill">
      <mat-label class="label-with-icon">Username</mat-label>
      <fa-icon class="label-icon" [icon]="userIcon"></fa-icon>
      <input class="label-with-icon" matInput name="username" ngModel
      #usernameInput='ngModel' placeholder="Enter your Username" required >
      <mat-error *ngIf="usernameInput.invalid">Please enter your username</mat-error>
    </mat-form-field>

    <mat-form-field class="input-login" appearance="fill">
      <mat-label class="label-with-icon">Password</mat-label>
      <fa-icon class="label-icon" [icon]="passwordIcon"></fa-icon>
      <input class="label-with-icon" type="password" matInput name="password" ngModel
      #passwordInput="ngModel" placeholder="Enter your Password" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter your password</mat-error>
    </mat-form-field>
  </mat-card-content>
  </form>


  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="OnLogin(loginForm)">Login</button>
    <button mat-button>Forgot password?</button>
  </mat-card-actions>

</mat-card>
