.main-login {
  padding: 40px;
  width: min-content;
  margin: auto;
  background: linear-gradient(90deg, rgba(238,218,191,1) 0%, rgba(250,248,240,1) 35%, rgba(208,183,164,1) 100%);
}
.label-icon {
  position: absolute;
}
.label-with-icon {
  margin-left: 20px;
}
.main-login  mat-card-content {
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.main-login mat-form-field > * {
  flex: 1 1 auto;
}

.main-login  mat-card-content img {
  width: 100%;
  height: 100%;
}

:host {
  padding: 20px;
}

mat-card-content img {
  margin: 20px 0;
}
