<mat-card>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="One Way"><app-oneway></app-oneway></mat-tab>
    <mat-tab label="Round Trip">Content 2</mat-tab>
    <mat-tab label="Multiple Destinations">Content 3</mat-tab>
  </mat-tab-group>
</mat-card>
