<mat-card class="wrapper">
  <mat-card-title>
    Partners
  </mat-card-title>
  <mat-divider [inset]=true></mat-divider>

  <mat-card-content>
    <app-partner bannerImage='assets/images/kempinski-hotel.jpg' profileImage='assets/images/kempisnki_hotel.jpeg'></app-partner>
    <app-partner></app-partner>
    <app-partner></app-partner>
    <app-partner></app-partner>
    <app-partner></app-partner>
    <app-partner></app-partner>
    <app-partner></app-partner>
  </mat-card-content>
</mat-card>
