<div id="content">
  <div class="one">1</div>
  <div class="two">2</div>
  <div class="three">3</div>
  <div class="four">4</div>
  <div class="five">5</div>
  <div class="six">6</div>
  <div class="seven nested">
    <div>
      Div 1
    </div>
    <div>
      Div 2
    </div>
    <div>
      Div 3
    </div>
    <div>
      Div 4
    </div>
  </div>
  <div class="eight">8</div>
  <div class="nine">9</div>
</div>

<ul class="social-icons">
  <li><a href="#">  <fa-icon [icon]="twitterIcon" class='fa-2x'></fa-icon> </a></li>
  <li><a href="#"><fa-icon [icon]="facebookIcon" class='fa-2x'></fa-icon></a></li>
  <li><a href="#"><fa-icon [icon]="instagramIcon" class='fa-2x'></fa-icon></a></li>
  <li><a href="#"><fa-icon [icon]="connectIcon" class='fa-2x'></fa-icon></a></li>
  <li><a href="#"><fa-icon [icon]="githubIcon" class='fa-2x'></fa-icon></a></li>
  <li><a href="#"><fa-icon [icon]="wordpressIcon" class='fa-2x'></fa-icon></a></li>
</ul>
