:host {
  margin: 0;
  padding: 0;
}
#content {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(4, minmax(150px,auto));
  grid-auto-rows: minmax(150px, auto);
  gap: 10px;
}
#content div {
  color: white;
  padding: 30px;
  text-align: center;
  background-color: #b85151;
}
#content div:nth-child(even) {
  background-color:  #626595;
}
.one {
  justify-self: center;
  align-self: center;
}
.nested {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  grid-column: span 3;
}

.nested div {
  border: 1px solid white;
  background-color: darkkhaki;
}

.social-icons {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-start;
}
.social-icons a {
  color: white;
}
