@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Play&display=swap');
$font-family: 'Montserrat', sans-serif !default;

html, body {
  height: 100%;
  margin: 0;
  // font-family: 'Montserrat', sans-serif;
// font-family: 'Play', sans-serif;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-image: url('assets/images/background.jpg');
  // background-repeat: repeat;
  // background-size: cover;
  background-color: #1b0716;
  // background-image: linear-gradient(to bottom, #100108, #200d10, #2c1411, #371d0f, #3c290b, #3f2909, #412807, #442806, #45190f, #3e0d19, #300822, #1c0627);
}
