<mat-card class="home">


  <mat-card-content>
    <h1 class="title">National and International shipments. What should you know?</h1>
    <mat-divider [inset]=true></mat-divider>
    <h3>WHAT IS CONSIDERED AN UNCOMPATIBLE LUGGAGE?</h3>

    <p>
      BAGGAGE is considered to be all new or used goods, which a
      traveler may reasonably need, provided it is noted that they are
      for use or consumption, in accordance with the purpose and duration
      of the trip and that for its quantity, nature or variety it is
      presumed They are not intended for trade or industry.
      <br /><br />
      This benefit is granted to travelers with a passport or official
      document upon entering or leaving the country.
    </p>

    <h3>RECOMMENDATIONS FOR NATIONAL SHIPPING</h3>
    <ul>
      <li>
        Remember to protect each package in a sturdy cardboard box for
        two shipments
      </li>
      <li>
        If your destination is a lodging, remember to put written on
        the box and clearly visible: The word BAGGAGE and your reservation
        number
      </li>
      <li>
        In case of additional insurance they will have to make a
        non-COMMERCIAL or pro forma invoice, and describe all their
        belongings with the price you give each
      </li>
    </ul>
    <h3>RECOMMENDATIONS FOR INTERNATIONAL SHIPPING</h3>
    <ul>
      <li>You will have to make a NON-COMMERCIAL or Proforma invoice, describing all of its content individually by putting the cost to each</li>
      <li>You will have to put the reason for your trip, where it will go and the days it will be</li>
      <li>Remember to verify before making the purchase that in the destination Country accept the LACKED luggage. Since I could come back. Causing the relevant costs to that shipment</li>
      <li>Remember not to carry prohibited items. Aerosols are not allowed.</li>
  </ul>
  </mat-card-content>
  <mat-divider [inset]=true></mat-divider>
  <mat-card-actions>
    <button mat-button >SEE SHIPPING WITH STEP BY CUSTOMS CLEARANCE</button>
  </mat-card-actions>

</mat-card>
