.home mat-card-content {
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Play', sans-serif;
  font-size: medium;
  color: rgb(90, 90, 90);
}

.home {
  max-width: 960px;
  margin: 10px auto;
}
